---
http_interactions:
- request:
    method: get
    uri: http://teststore.appsisecommerce.com.br/api/pedidos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdF9zdG9yZToxMjM0NTY=
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Description:
      - File Transfer
      Content-Transfer-Encoding:
      - binary
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"retorno":{"status":"ERRO","erros":[{"codigo":220,"msg":"Nenhum registro
        foi encontrado."}]}}'
  recorded_at: Thu, 23 Jun 2016 20:58:15 GMT
recorded_with: VCR 3.0.3
