---
http_interactions:
- request:
    method: get
    uri: http://teststore.appsisecommerce.com.br/api/pedidos?data_pedido=20160203-20160204
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdF9zdG9yZToxMjM0NTY=
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Description:
      - File Transfer
      Content-Transfer-Encoding:
      - binary
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pedidos":[{"id":1,"data":"2016-02-03 10:14:04","status_codigo":305,"status_nome":"Finalizado\/J\u00e1
        enviado","canal_venda_id":1,"canal_venda_nome":"Loja virtual","marketplace_codigo_venda":"","id_clientes_parceiro":"0","codigo_cupom":"","codigo_vale_compra":"","cliente":{"id":64200,"pessoa":"F","nome":"João da Silva
        ","sobrenome":"Faria Brand\u00e3o","email":"teste@gmail.com","apelido":"","cpf":"12345678911","rg":"123456789","razao_social":"","cnpj":"","ie":"","telefone":"1212345678"},"endereco_entrega":{"id":55080,"logradouro":"Rua
         Teste","numero":"123","complemento":"","bairro":"Bairro Teste","cidade":"Teste","estado":"SP","cep":"22631000"},"envio":{"forma_de_envio_id":7,"forma_de_envio_nome":"TRANSPORTADORAS","valor":79.99,"gratis":false,"digital":false,"data_envio":"2016-02-03","codigo_rastreamento":"NF
        1234","entregue":false,"valor_real":0},"pagamento":{"forma_de_pagamento_id":28,"forma_de_pagamento_nome":"Cart\u00e3o
        de cr\u00e9dito PayPal","valor":3259.98,"codigo_transacao":"1234","data_vencimento":""},"totais":{"subtotal":2999.99,"descontos":0,"envio":79.99,"total":3259.98},"itens":[{"id":15060,"id_sku":8698,"nome":"Vox
        NT15C1 Night Train","variacao":"","sku":"","ean":"","ncm":"","qtd":1,"valor_custo":"0.00","valor_unitario":"2999.99","valor_total":"2999.99"}]}],"status":"OK","total_registros":1,"total_paginas":1,"pagina_atual":1}'
  recorded_at: Thu, 23 Jun 2016 21:38:15 GMT
recorded_with: VCR 3.0.3
